body {
    background-color: rgb(198, 204, 202);
}

.hide {
    display: none;
}
div.failure-message {
    color: red;
}
div.success-message{
    color: rgba(10, 32, 233, 0.993);
}

div.failure-password{
    color: red;
}
div.success-password{
    color: rgba(10, 32, 233, 0.993);
}