<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BLUECLUB feed</title>
    <script async src="../static/js/WEB_P2.js"></script>
    <link rel="stylesheet" href="../static/css/WEB_P2.css">
    <script defer src='../static/js/modal.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <!--#region main images -->
    <script>





        let Instagram_story_Image_01 = `<div class="status-card">
                <div class="profile-pic"><img src="../static/images/cover 1.png" alt=""></div>
                <p class="story-username">Muiler_88</p>`
        let Instagram_story_Image_02 = `<div class="status-card">
                <div class="profile-pic"><img src="../static/images/cover 2.png" alt=""></div>
                <p class="story-username">tech_house_mag</p>`
        let Instagram_story_Image_03 = `<div class="status-card">
                <div class="profile-pic"><img src="../static/images/cover 3.png" alt=""></div>
                <p class="story-username">photoshop_tutorial</p>`
        let Instagram_story_Image_04 = `<div class="status-card">
                <div class="profile-pic"><img src="../static/images/cover 4.png" alt=""></div>
                <p class="story-username">bigroom_digital</p>`
        let Instagram_story_Image_05 = `<div class="status-card">
                <div class="profile-pic"><img src="../static/images/cover 5.png" alt=""></div>
                <p class="story-username">jacob</p>`
        let Instagram_story_Image_06 = `<div class="status-card">
                <div class="profile-pic"><img src="../static/images/cover 6.png" alt=""></div>
                <p class="story-username">steven</p>`



    </script>
    <!--#endregion -->


</head>

<body>

    <header>
        <nav class="navbar">
            <div class="nav-wrapper">
                <img src="../static/images/logo.PNG" class="brand-img" alt="" onclick=home()>
                <input type="text" class="search-box" placeholder="search">
                <div class="nav-items">
                    <img src="../static/images/home.PNG" class="icon" alt="" id="Home" onclick=home()>
                    <img src="../static/images/messenger.PNG" class="icon" alt="" id="Messanger">
                    <img src="../static/images/post.PNG" class="icon" alt="" onclick="post()" id='modal-open'>
                    <img src="../static/images/explore.PNG" class="icon" alt="">
                    <img src="../static/images/like.PNG" class="icon" alt="">
                    <img src="../static/images/profile_images/{{image}}" class="icon" alt="" onclick=mypage()>
                </div>
            </div>
        </nav>
    </header>
    <article>
        <section class="main">


            <div class="wrapper">
                <div class="left-col">
                    <div>
                        <div class="status-card">
                            <div class="profile-pic"><img src="../static/images/profile_images/{{image}}" alt=""></div>
                            <p class="story-username">Muiler_88</p>
                        </div>
                        <div id='post'>
                            {%for feed in feeds %}
                            {% set nickname = feed.8 %}
                            {% set like = feed.3 %}
                            {% set text = feed.5 %}
                            {% set today = feed.7 %}
                            {% set postid = feed.6 %}
                            {% set photo = feed.2 %}
                            {% set profile = feed.9 %}
                            {% set cmts = feed.10 %}
                            <div class="post">
                                <div class="info">
                                    <div class="user">
                                        <div class="profile-pic"><img src="../static/images/profile_images/{{profile}}"
                                                alt=""></div>
                                        <p class="feed-username">{{nickname}}</p>
                                    </div>
                                    <img src="../static/images/option.PNG" class="options" alt="">
                                </div>
                                <img src="../static/images/feed_images/{{photo}}" class="post-image" alt="">
                                <div class="post-content">
                                    <div class="reaction-wrapper">
                                        <img src="../static/images/like.PNG" id='like{{postid}}' class="icon"
                                            alt="{{postid}}" onclick=like(this.alt)>
                                        <img src="../static/images/comment.PNG" class="icon" alt="">
                                        <img src="../static/images/send.PNG" class="icon" alt="">
                                        <img src="../static/images/save.PNG" id='save{{postid}}' class="save icon"
                                            alt="{{postid}}" onclick=save(this.alt)>
                                    </div>
                                    <p class="likes">{{like}} likes</p>
                                    <p class="description"><span>{{nickname}} </span> {{text}}</p>
                                    <p class="post-time">{{today}}</p>


                                    {%for cmt in cmts %}
                                    {% set nickname = cmt.nick %}
                                    {% set cmt = cmt.cmt %}
                                    <p class="description"><span>{{nickname}} </span> {{cmt}}</p>
                                    {% endfor %}


                                    <div class="comment-wrapper">
                                        <input style="display: none;" id="id_for_cmt{{postid}}" value={{postid}}>
                                        <img src="../static/images/smile.PNG" class="icon" alt="">
                                        <input type="text" class="comment-box" id='cmt{{postid}}'
                                            placeholder="Add a comment">
                                        <button class="comment-btn" id="{{postid}}"
                                            onclick=cmt_write(this.id)>post</button>
                                    </div>
                                </div>


                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
                <div class="right-col">
                    <div class="profile-card">
                        <div class="profile-pic">
                            <img src="../static/images/profile_images/{{image}}" id="#" alt="" onclick="mypage()">
                        </div>
                        <div class='profile-name'>
                            <p class="username">{{nickname}}</p>
                            <p class="sub-text">{{name}}</p>
                        </div>
                        <button class="action-btn" onclick="logout()">switch</button>
                    </div>
                    <p class="suggestion-text">회원님을 위한 추천</p>
                    <div class="profile-card">
                        <div class="profile-pic">
                            <img src="../static/images/cover 9.png" alt="">
                        </div>
                        <div class='recommend'>
                            <div class="follow-name">
                                <p class="username">ssyou__yiyy</p>
                                <p class="sub-text">kimsarang_님이 팔로우합니다</p>
                            </div>
                            <div class="follow">
                                <button class="action-btn">팔로우</button>
                            </div>
                        </div>
                    </div>
                    <div class="profile-card">
                        <div class="profile-pic">
                            <img src="../static/images/cover 10.png" alt="">
                        </div>
                        <div class='recommend'>
                            <div class="follow-name">
                                <p class="username">som9413_dj</p>
                                <p class="sub-text">cochon_cafe님이 팔로우합니다</p>
                            </div>
                            <button class="action-btn">팔로우</button>
                        </div>
                    </div>
                    <div class="profile-card">
                        <div class="profile-pic">
                            <img src="../static/images/cover 11.png" alt="">
                        </div>
                        <div class='recommend'>
                            <div class="follow-name">
                                <p class="username">kimseokyong</p>
                                <p class="sub-text">bemill._.aa님 외 1명이 팔로우합니다</p>
                            </div>
                            <button class="action-btn">팔로우</button>
                        </div>
                    </div>
                    <div class="profile-card">
                        <div class="profile-pic">
                            <img src="../static/images/cover 12.png" alt="">
                        </div>
                        <div class='recommend'>
                            <div class="follow-name">
                                <p class="username">hi.dongg</p>
                                <p class="sub-text">bemill._.aa님 외 1명이 팔로우합니다</p>
                            </div>
                            <button class="action-btn">팔로우</button>
                        </div>
                    </div>
                    <div class="profile-card">
                        <div class="profile-pic">
                            <img src="../static/images/cover 13.png" alt="">
                        </div>
                        <div class='recommend'>
                            <div class="follow-name">
                                <p class="username">bu.choi_uls</p>
                                <p class="sub-text">kiseokhwang님 외 1명이 팔로우합니다. </p>
                            </div>
                            <button class="action-btn">팔로우</button>
                        </div>
                    </div>
                </div>

            </div>

        </section>
    </article>
    <div id='footer'>
        <div id="footicon">
            <img class='footer_icon' src="../static/images/home.PNG" alt="홈">
            <img class='footer_icon' src="../static/images/search@3x.png" alt="검색">
            <img class='footer_icon' src="../static/images/post.PNG" alt="트렌드">
            <img class='footer_icon' src="../static/images/like.PNG" alt="좋아요">
            <img class='footer_icon' src="../static/images/home.PNG" alt="홈">
        </div>
    </div>

    <!-- 모달창 -->
    <div class="container">
        <div class="popup-wrap" id="popup">
            <div class="popup">
                <div class="popup-head">
                    <span class="head-title">
                        새 게시물 만들기</span>
                </div>
                <!-- popup-body 부분에 사진 끌어 올리기 -->
                <div class="popup popup-body">
                    <div class="body-content">
                        <div class="body-titlebox">
                            <img src="../static/images/upload.png">
                            <p class='file-desc'>사진과 동영상을 여기에 끌어다 놓으세요</p>
                            <div class='file-box'>
                                <label class="file-label" for="file">
                                    컴퓨터에서 선택
                                </label>
                                <input type="file" id="file">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- popup-body 부분에 사진 끌어 올리기 -->
                <div class="popup-foot">
                    <span class="pop-btn confirm" id="confirm">확인</span>
                    <span class="pop-btn close" id="close">창 닫기</span>
                </div>
            </div>
        </div>

        <!-- 글 작성 모달창 -->
        <div class="popup-wrap" id="popup2">
            <div class="popup">
                <div class="popup-head">
                    <span class="head-title">
                        새 게시물 만들기</span>
                </div>
                <div class="popup-body">
                    <div class="write-content">
                        <div class="body-titlebox">
                            <p class='write-desc'>게시글을 작성해주세요</p>
                            <div class='text-box'>
                                <textarea id="text" placeholder="게시글은 50자 내외로 작성해주세요." rows="17rem" cols="8rem"
                                    wrap="soft" maxlength="50" onkeydown="resize(this)" onkeyup="resize(this)">
              </textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popup-foot">
                    <span class="pop-btn confirm" id="confirm2" onclick='posting()'>확인</span>
                    <span class="pop-btn close" id="close2" onclick="modal_close()">창 닫기</span>
                </div>
            </div>
        </div>
    </div>
</body>

</body>

</html>