<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <script src="../static/js/login.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <title>로그인 페이지</title>
</head>

<body>
    <div id='all-container'>
        <div id='container'>
            <div id='upper-container'>
                <img id='logo' src="../static/images/logo.PNG" alt='인스타그램'>
                <form id='inputs'>
                    <input required, id="userid" maxlength="20" type="text" class='login-bar'
                        placeholder="전화번호, 사용자 이름 또는 이메일">
                    <input required, id="userpw" minlength="8" type="text" class='login-bar' placeholder="비밀번호">
                </form>
                <button id='login-btn' onclick="login()" disabled="true">로그인</button>
                
                <div id='or-line'>
                    또는
                </div>
                <div id='facebook-login'>
                    <img id='facebook-logo' src="../static/images/facebookwhite.png">
                    <a id='facebook-link' href="">Facebook으로 로그인</a>
                </div>
                <a id='forgetPW' href="">비밀번호를 잊으셨나요?</a>
            </div>
            <div id='lower-container'>
                <p id='q-register'>계정이 없으신가요?</p>
                <a id='register' href="/sign">가입하기</a>
            </div>
            <div id='download'>
                앱을 다운로드하세요.
            </div>
            <div id=down-root>
                <a href=""><img class='downimg' src="../static/images/appstore.jpg"></a>
                <a href=""><img class='downimg' src="../static/images/googleplay.jpg"></a>
            </div>
        </div>
        <footer id=loginfooter>
            <div id='footer1'>
                <a class='footers' href="https://about.facebook.com/meta">Meta</a>
                <a class='footers' href="https://about.instagram.com/">소개</a>
                <a class='footers' href="https://about.instagram.com/blog">블로그</a>
                <a class='footers' href="https://about.instagram.com/about-us/careers">채용 정보</a>
                <a class='footers' href="https://help.instagram.com/">도움말</a>
                <a class='footers' href="https://developers.facebook.com/docs/instagram">API</a>
                <a class='footers' href="https://help.instagram.com/519522125107875">개인정보처리방침</a>
                <a class='footers' href="https://help.instagram.com/581066165581870">약관</a>
                <a class='footers' href="https://www.instagram.com/directory/profiles/">인기 계정</a>
                <a class='footers' href="https://www.instagram.com/directory/hashtags/">해시태그</a>
                <a class='footers' href="https://www.instagram.com/explore/locations/">위치</a>
                <a class='footers' href="https://www.instagram.com/web/lite/">Instagram Lite</a>
            </div>
            <div id='footer2'>
                <select id='select'>
                    <option>한국어</option>
                    <option>English</option>
                    <option>Español (España)</option>
                    <option>日本語</option>
                </select>
                <p>© 2021 Instagram from Meta</p>
            </div>
        </footer>
    </div>
</body>

</html>