body {
  max-width: 2560px;
  margin: 0 auto;
  background-color: rgb(247, 247, 247);
}

#all-container {
  max-width: 2560px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2% 0;
}

#upper-container {
  max-width: 425px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 3%;
  padding: 5% 1% 9% 1%;

  border: 0.5px solid lightgray;
  background-color: white;
}

#upper-container #logo {
  max-width: 230px;
  width: 100%;
  display: flex;
  align-items: center;

  margin: 3% 0 5% 0;
}

#upper-container #inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}

#upper-container #inputs .login-bar {
  border: 0.5px solid rgb(244, 244, 244);
  background-color: rgb(247, 247, 247);

  width: 17rem;
  height: 2rem;

  margin-top: 3%;
}

input::placeholder {
  padding-left: 1%;
}

#login-btn {
  color: white;
  background-color: rgb(75, 186, 255);

  border: 0.5px solid rgb(247, 247, 247);

  width: 17.4rem;
  height: 2rem;

  margin: 2% 0;
}

#upper-container #or-line {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  font-size: 14px;
  margin: 8px 0px;
}

#or-line::before {
  content: "";
  flex-grow: 1;
  margin: 0px 16px;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}
#or-line::after {
  content: "";
  flex-grow: 1;
  margin: 0px 16px;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}
#upper-container #facebook-login {
  display: flex;
  margin: 4% 0;
}

#facebook-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

#facebook-login #facebook-logo {
  display: flex;
  max-width: 4%;
  width: 100%;
  height: 100%;
  margin-right: 2%;
}

#facebook-link {
  color: rgb(75, 126, 255);
  text-decoration: none;

  margin-top: 1%;
}

#upper-container #forgetPW {
  margin-top: 3%;
  font-size: small;
  color: rgb(75, 126, 255);

  text-decoration: none;
}

/* 아래 부분 */

#lower-container {
  max-width: 425px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 0.5px solid lightgray;
  background-color: white;

  margin-bottom: 3%;
  padding: 3% 1%;
}

#lower-container #q-register {
  margin-right: 2%;
}

#lower-container #register {
  font-weight: bold;
  color: rgb(75, 186, 255);

  text-decoration: none;
}

#container #download {
  margin: 4% 0;
  color: gray;
}

#container #down-root {
  max-width: 425px;
  display: flex;
  justify-content: center;
}

#down-root .downimg {
  max-width: 150px;
  width: 100%;

  margin: 5% 0%;
}

#loginfooter {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-top: 5%;

  color: rgb(193, 193, 193);
}

#footer1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#loginfooter #footer1 .footers {
  margin: 0 1%;
  text-decoration: none;
  font-size: small;

  color: rgb(193, 193, 193);
}

#footer2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#select {
  margin-right: 3%;
  border: none;
  background-color: transparent;
  color: rgb(193, 193, 193);
  width: 4%;
}
