@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

/* * 기호는 문서안에 모든 css를 적용한다. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    width: 100%;
    background: #fafafa;
    position: relative;
    font-family: "roboto", sans-serif;
}

.navbar {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.nav-wrapper {
    width: 70%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-img {
    height: 75%;
    margin-top: 5px;
    cursor: pointer;
}

.search-box {
    position: absolute;
    left: 50%;
    transform: translateX(-68%);
    width: 275px;
    height: 35px;
    background: #fafafa;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-transform: capitalize;
}

.search-box::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.nav-items {
    height: 22px;
    display: fixed;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.icon {
    height: 100%;
    cursor: pointer;
    margin: 0 13px;
    display: inline-block;
}

.user-profile {
    width: 22px;
    border-radius: 50%;
    background-image: url("../Images/profile-pic.png");
    background-size: cover;
}
.main {
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.wrapper {
    width: 70%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 30px;
}

.left-col {
    display: flex;
    flex-direction: column;
}

.status-wrapper {
    width: 100%;
    height: 120px;
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    padding: 10px;
    padding-right: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
}

.status-wrapper::-webkit-scrollbar {
    display: none;
}

.status-card {
    flex: 0 0 auto;
    width: 80px;
    max-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}

.profile-pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    padding: 3px;
    background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}

.story-username {
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.5);
}

.feed-username {
    margin-left: 5%;
    font-size: 100%;
    color: #000;
}
.post {
    width: 100%;
    height: auto;
    background: #fff;
    border: 1px solid #dfdfdf;
    margin-top: 40px;
}

.info {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}


.info .username {
    width: auto;
    font-weight: bold;
    overflow: hidden;
    color: #000;
    font-size: 14px;
    margin-left: 10px;
}

.info .options {
    height: 10px;
    cursor: pointer;
}

.info .user {
    display: flex;
    align-items: center;
    width: 400px;
}

.info .profile-pic {
    max-width: 50px;
    width: 100%;
    height: 100%;
    padding: 0;
    background: none;
}

.info .profile-pic img {
    border: none;
}

.post-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.post-content {
    width: 100%;
    padding: 20px;
}

.likes {
    font-weight: bold;
}

.description {
    margin: 10px 0;
    font-size: 14px;
    line-height: 20px;
}

.description span {
    font-weight: bold;
    margin-right: 10px;
}

.post-time {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

.comment-wrapper {
    width: 100%;
    height: 50px;
    border-radius: 1px solid #dfdfdf;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-wrapper .icon {
    height: 30px;
}

.comment-box {
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 14px;
}

.comment-btn,
.action-btn {
    width: 70px;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-size: 16px;
    color: rgb(0, 162, 255);
    opacity: 0.5;

    cursor: pointer;
}

.reaction-wrapper {
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: -20px;
    align-items: center;
}

.reaction-wrapper .icon {
    height: 25px;
    margin: 0;
    margin-right: 20px;
}

.reaction-wrapper .icon.save {
    margin-left: auto;
}
.right-col {
    padding: 20px 0px 0px 0px;
    display: flex;
    flex-direction: column;
}

.profile-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.profile-card .profile-pic {
    flex: 0 0 auto;
    padding: 0;
    background: none;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.profile-card:first-child .profile-pic {
    width: 70px;
    height: 70px;

    cursor: pointer;
}

.profile-card .profile-pic img {
    border: none;
}

.profile-name {
    margin-right: 100px;
}

.recommend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.profile-card .username {
    font-size: 100%;
    color: #000;
}

.sub-text {
    color: rgba(0, 0, 0, 0.5);
    font-size: 80%;
    margin-top: 5px;
}

.action-btn {
    opacity: 1;
    font-weight: 700;
    font-size: 12px;
}

.suggestion-text {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    margin: 20px 0;
}

@media (max-width: 1100px) {
    .right-col,
    .search-box {
        display: none;
    }
    .nav-items {
        padding-right: 0px;
    }
    .nav-wrapper,
    .wrapper {
        width: 90%;
    }
    .wrapper {
        display: block;
    }
}

@media (max-width: 500px) {
    .nav-items .icon {
        margin: 0 5px;
    }
    .nav-items {
        padding-right: 0px;
    }
    .post-image {
        height: 300px;
    }
    #Messanger,
    #Home,
    #user-profile {
        display: none;
    }
}

/* Footer */

#footer {
    display: flex;
    flex-grow: 10;
    bottom: 0;
    width: 100%;
    max-width: 501px;
    position: fixed;
    border-top: 0.5px solid rgb(172, 172, 172);
    background-color: rgb(255, 255, 255);
}

@media (min-width: 501px) {
    #footer {
        display: none;
    }
}

#footer #footicon {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    margin: 3% 3% 3% 3%;
}

#footer #footicon .footer_icon {
    width: 6%;
}
